*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(aqua,rgb(79, 79, 229));
    height: 100vh;
    background-repeat: no-repeat;
  }
  
  .header {
    background-color: #1cb4e7;
    color: white;
    padding: 20px;
  }
  
  .user-info {
      text-align: right;
      /* margin-right: 3%; */
      margin-top: 3%;
      /* display: inline-block; */
      float: right;
    
  }
  
  .container {
    width: 80%;
    margin: 3% auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    padding: 20px;
    color: black;
  }
  
  h2 {
    margin-top: 0;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color:#1cb4e7;
    color: white;
  }
  